<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <style>
    body {
      background-color: #ecedec;
    }
  </style>
</head>
<body>
<% include ./includes/navbar %>
<div class="container">
  
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Reviews</h3>
        </div>
        <div class="panel-body text-center">
          <h1><span class="glyphicon glyphicon-bullhorn"></span></h1>
        </div>
        <div class="panel-footer small">
          <a href="/movies" class="btn btn-block btn-primary">View Latest Reviews</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">View Latest Reviews</h3>
        </div>
        <div class="panel-body text-center">
          <h1><span class="glyphicon glyphicon-user"></span></h1>
        </div>
        <div class="panel-footer small">
          <a href="/authors" class="btn btn-block btn-primary">View Authors</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Our Partners</h3>
        </div>
        <div class="panel-body text-center">
          <h1><span class="glyphicon glyphicon-tower"></span></h1>
        </div>
        <div class="panel-footer small">
          <a href="/publications" class="btn btn-block btn-primary">View Publications</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>